/*Table*/
table.dataTable tbody tr {
    background-color: #4b545c;
}
select{
    color: #ffffff;
}
input{
    color: #ffffff;
}
table .btnedit {
    color: #e9edee;
    cursor: pointer;
}
table .btntrash{
    color: #ff0000;
    cursor: pointer;
}
label{
    color: #ffffff;
}
.dataTables_wrapper div.dataTables_info{
    color: #ffffff;
}
